<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Конвертер величин"
        android:theme="@android:style/Theme.Material.Light">

        <!-- Главное окно, открывается при запуске -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Окна для каждой величины -->
        <activity android:name=".LengthActivity" android:label="Длина" />
        <activity android:name=".MassActivity" android:label="Масса" />
        <activity android:name=".TemperatureActivity" android:label="Температура" />

    </application>

</manifest>
